#navigation {
    background-color: #344D67;
    display: flex;
    list-style: none;
}

#onglet{
    align-items:flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    justify-content: flex-end;

}

#menu{
    color: white;
}

#bouton{
    color: white;
    background-color: #1abc9c;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

#top-body{

    background-size: cover;
    background-position: center center;
    height: 400px;
    position: relative;

}


#search-container{
    position: absolute;
    bottom: 21px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #344D67;
    max-width: 900px;
    height: 70px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

}

#search-bar{
    background-color: #344D67;
    color: white;
}

#text-fond{
    color: white;
}

#footer{
    padding-top: 10px;
}



