<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Immo</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" id="navigation" >
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <a class="nav-link active" id="menu" aria-current="page" th:href = "@{/accueil}">Immo</a>

            <div id="bouton-nav">
                <a th:href = "@{/user/create-accommodation}" class="btn" id="bouton">Poster votre annonce dès maintenant</a>
            </div>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="onglet">
                <li class="nav-item">
                    <a class="nav-link active" id="menu" aria-current="page" th:href = "@{/user/create-account}">Mon compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="menu" aria-current="page" href="AddAccomodation.html"> Mes Contrats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="menu" aria-current="page" href="listeappartements.html">Admin</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<main>
    <h2 id="titre">Je crée mon compte </h2>


    <div id="form">

        <h2 id="titre">Je crée mon compte </h2>

        <form th:action = "@{/nouveau-compte}" th:object = "${User}" method = "POST">
            <div class="mb-3" >
                <label for="exampleInputEmail1" class="form-label">Nom</label>
                <input
                    type="text"
                    class="form-control"
                    th:field = "*{lastName}"
                    placeholder="Entrer votre Nom">
            </div>
            <div class="mb-3" >
                <label for="exampleInputEmail1" class="form-label">Prénom</label>
                <input
                    type="text"
                    class="form-control"
                    th:field = "*{firstName}"
                    placeholder="Entrer votre Prénom">
            </div>
            <div class="mb-3" >
                <label for="exampleInputEmail1" class="form-label">Pseudo</label>
                <input
                    type="text"
                    class="form-control"
                    th:field = "*{userName}"
                    placeholder="Entrer votre Pseudo">
            </div>
            <div class="mb-3" >
                <label for="exampleInputEmail1" class="form-label">Adresse e-mail</label>
                <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    th:field = "*{email}"
                    placeholder="Entrer votre adresse email">

            </div>
            <div class="mb-3" >
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    th:field = "*{password}"
                    placeholder="Entrer votre mot de passe">
            </div>
            <div class="mb-3 form-check" >
                <input type="checkbox" class="form-check-input" >
                <label class="form-check-label" >Je suis propriétaire</label>
            </div>
            <div class="mb-3 form-check" >
                <input type="checkbox" class="form-check-input" >
                <label class="form-check-label" >Je suis locataire</label>
            </div>
            <div id="bouton-container">
                <button type="submit" class="btn" id="bouton-form">Submit</button>
            </div>
        </form>
    </div>








</main>




</body>

</html>