<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Immo</title>
    <link th:href="@{/styles/cssandjs/main-component.css}" rel="stylesheet" />
    <link th:href="@{/styles/cssandjs/cards.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="fragments/topnav :: navbar"></div>

<main>

    <form class="d-flex" id="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-bar">
        <button class="btn btn-outline-light" type="submit">Cherchez</button>
    </form>

    <div class="row" id="option">
        <div class="card"  id="card-accomodation" th:each="Advertisement : ${Advertisement}">
            <div th:each ="Photo:${Advertisement.photos}" >
                <div th:if="${Photo.mainPhotos == true}">
                    <img class="card-img-top" th:src="@{'/images/'+ ${Photo.fileName}}" id="thumbnail-image" alt="Card image cap" >
                </div>
            </div>
            <div class="card-body" id="card-info">
                <h4 class="card-title" th:text="${Advertisement.accommodation.title}"/>
                <p class="card-text" id="subtitle"><small class="text-muted" th:text="'à '+ ${Advertisement.accommodation.address.city.name} +' '+ ${Advertisement.accommodation.address.city.zipCode}"/></p>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" id="data-accommodation">Loyer (en €)</li>
                    <li class="list-group-item" id="data-accommodation">Surface (en m²) </li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" id="data-accommodation" th:text="${Advertisement.rentalPrice}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Advertisement.accommodation.squareMeter}"/>
                </ul>
                <a th:href = "@{/logement/{id}(id=${Advertisement.id})}"
                   class="btn "
                   id="bouton-secondaire">Voir l'annonce</a>
                <a th:href="@{/user/annonce/suppression/{id} (id=${Advertisement.id})}"
                   class="btn"
                   sec:authorize = "hasRole('ROLE_ADMIN')"
                   id="bouton-secondaire">Supprimer l'annonce</a>
            </div>
        </div>
        <div class="card"  id="card-accomodation">
                <div>
                    <img class="card-img-top" th:src="@{/pics/apartments-sample.jpeg}" id="thumbnail-image" alt="Card image cap" >
                </div>
            <div class="card-body" id="card-info">
                <h4 class="card-title">Appartement Test</h4>
                <p class="card-text" id="subtitle"><small class="text-muted">à Paris 75014</small></p>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" id="data-accommodation">Loyer (en €)</li>
                    <li class="list-group-item" id="data-accommodation">Surface (en m²) </li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" id="data-accommodation">1234</li>
                    <li class="list-group-item" id="data-accommodation">123</li>
                </ul>
                <a
                   class="btn "
                   id="bouton-secondaire">Voir l'annonce</a>
                <a
                   class="btn"
                   sec:authorize = "hasRole('ROLE_ADMIN')"
                   id="bouton-secondaire">Supprimer l'annonce</a>
            </div>
        </div>


    </div>






</main>




</body>

</html>