<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Immo</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="fragments/topnav :: navbar"></div>

<main>

    <div id="form">

        <h2 id="titre">Contrat de location</h2>
        <form th:action = "@{/contrat/contrat-modifie/{id} (id=${CurrentAgreement.id})}" th:object = "${CurrentAgreement}" method = "POST">
            <div class="mb-3" >
                <label class="form-label">Loyer mensuel (en €)</label>
                <input class="form-control"
                       type="number"
                       min="0.00"
                       max="10000.00"
                       step="0.01"
                       th:field = "*{rentalPrice}"
                >
            </div>
            <div class="mb-3" >
                <label class="form-label">Charges mensuel (en €)</label>
                <input class="form-control"
                       type="number"
                       min="0.00"
                       max="10000.00"
                       step="0.01"
                       th:field = "*{charges}"
                >
            </div>
            <div class="mb-3" >
                <label class="form-label">Caution (en €)</label>
                <input class="form-control"
                       type="number"
                       min="0.00"
                       max="10000.00"
                       step="0.01"
                       th:field = "*{deposit}"
                >
            </div>
            <div class="mb-3">
                <label class="form-label">Date d'entrée</label>
                <div class="input-group date">
                    <input type="date" class="form-control" th:field="*{entryDate}"/>
                </div>
            </div>
            <div class="mb-3" >
                <label class="form-label">Frais d'agence (en €)</label>
                <input class="form-control"
                       type="number"
                       min="0.00"
                       max="10000.00"
                       step="0.01"
                       th:field = "*{agencyFees}"
                >
            </div>


            <div id="bouton-container">
                <button type="submit" class="btn" id="bouton-form">Envoyer le contrat</button>
            </div>
        </form>

    </div>

</main>




</body>

</html>