<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Immo</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" id="navigation" >
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <a class="nav-link active" id="menu" aria-current="page" th:href = "@{/accueil}">Immo</a>

            <div id="bouton-nav">
                <a th:href = "@{/user/create-address}" class="btn" id="bouton">Poster votre annonce dès maintenant</a>
            </div>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="onglet">
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="menu">Mes compte</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Mon Portefeuille</a></li>
                        <li><a class="dropdown-item" th:href = "@{/user/mes-annonces}">Mes annonces</a></li>
                        <li><a class="dropdown-item" href="#">Mes messages</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Me déconnecter</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="menu">Mes contrats</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Location</a></li>
                        <li><a class="dropdown-item" href="#">Propriétaire</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="menu" aria-current="page" href="listeappartements.html">Admin</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<main>
    <div>
        <div class="card mb-3" id="accommodation">
            <h3 class="card-title" th:text="${Advertisement.accommodation.title}"/>

            <p class="card-text" id="subtitle"><small class="text-muted" th:text="'à '+ ${Advertisement.accommodation.address.city.name} +' '+ ${Advertisement.accommodation.address.city.zipCode}"/></p>

            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active" th:if="${MainPhoto == null}">
                        <img th:src="@{/images/apartments-sample.jpeg}" class="img-fluid" id="picture" alt="...">
                    </div>
                    <div class="carousel-item active" th:unless="${MainPhoto == null}">
                        <img th:src="@{'/images/'+ ${MainPhoto.fileName}}" class="img-fluid" id="picture" alt="...">
                    </div>
                    <div >
                        <div class="carousel-item" th:each="Photo : ${Photo}">
                            <img th:src="@{'/images/'+ ${Photo.fileName}}" class="img-fluid" id="picture" alt="...">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="card-body">
                <p class="card-text" alt="..." th:text="${Advertisement.description}"/>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" id="data-accommodation">Loyer (en €)</li>
                    <li class="list-group-item" id="data-accommodation">Surface (en m²) </li>
                    <li class="list-group-item" id="data-accommodation">Nombre de pièces </li>
                    <li class="list-group-item" id="data-accommodation">Charges (en €)  </li>
                    <li class="list-group-item" id="data-accommodation">Caution (en €) </li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" id="data-accommodation" th:text="${Advertisement.rentalPrice}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Advertisement.accommodation.squareMeter}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Advertisement.accommodation.rooms}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Advertisement.charges}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Advertisement.deposit}"/>
                </ul>

                <p class="card-text" id="subtitle"><small class="text-muted" th:text="'Logement proposé par '+ ${Advertisement.accommodation.user.userName}"/></p>

                <div th:if= "${IsOwner}">
                <a th:href="@{/user/modification-mon-annonce/{id} (id=${Advertisement.id})}"
                   class="btn "
                   id="bouton-secondaire">Modifier mon annonce</a>
                <a th:href="@{/admin/annonce/suppression/{id} (id=${Advertisement.id})}"
                   class="btn"
                   id="bouton-secondaire">Supprimer l'annonce</a>
                <a th:href="@{/photo/selection-images/{id} (id=${Advertisement.id})}"
                   class="btn"
                   id="bouton-secondaire">Ajouter des photos</a>
                </div>
                <a th:if= "${NotOwner}" th:href="@{/chat/nouveau-message/{id} (id=${Advertisement.accommodation.id})}" class="btn " id="bouton-secondaire" >Demander un rendez-vous!</a>
                <a sec:authorize="isAnonymous()" th:href="@{/creation-compte}" class="btn " id="bouton-secondaire" >Demander un rendez-vous!</a>
            </div>
        </div>
    </div>
</main>

</body>

</html>