<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Immo</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="fragments/topnav :: navbar"></div>

<main>
    <div>
        <div class="card mb-3" id="accommodation">
            <h3 class="card-title" th:text="${Agreement.accommodation.title}"/>
            <p class="card-text" id="subtitle"><small class="text-muted" th:text="'à '+ ${Agreement.accommodation.address.city.name} +' '+ ${Agreement.accommodation.address.city.zipCode}"/></p>
            <!--<img src="apartments-sample.jpeg" class="card-img-top" alt="...">-->
            <div class="card-body">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" id="data-accommodation">Loyer (en €)</li>
                    <li class="list-group-item" id="data-accommodation">Surface (en m²) </li>
                    <li class="list-group-item" id="data-accommodation">Nombre de pièces </li>
                    <li class="list-group-item" id="data-accommodation">Charges (en €)  </li>
                    <li class="list-group-item" id="data-accommodation">Caution (en €) </li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" id="data-accommodation" th:text="${Agreement.rentalPrice}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Agreement.accommodation.squareMeter}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Agreement.accommodation.rooms}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Agreement.charges}"/>
                    <li class="list-group-item" id="data-accommodation" th:text="${Agreement.deposit}"/>
                </ul>

                <p id="subtitle">
                    <small class="text-muted">Contrat entre:</small>
                <ul class="text-muted" id="list-group" th:each="users : ${Agreement.users}">
                    <li th:text="${users.userName}"></li>
                </ul>
                </p>
                <div th:if= "${IsTenantValidated}">
                    <small class="text-muted">Contrat validé par le locataire</small>
                </div>
                <div th:if= "${IsLandLordValidated}">
                    <small class="text-muted">Contrat validé par le propriétaire</small>
                </div>
                <div>
                    <div th:if= "${IsOwner}">
                        <a th:href = "@{/contrat/modifier-contrat/{id} (id=${Agreement.id})}"
                           class="btn"
                           id="bouton-secondaire" >Modifier le bail</a>
                        <a th:href = "@{/contrat/etat-des-lieux-entree/{id} (id=${Inventory.id})}"
                           class="btn"
                           id="bouton-secondaire" >Effectuer/modifier l'état des lieux</a>
                        <a th:href = "@{/contrat/supprimer-contrat/{id} (id=${Agreement.id})}"
                           class="btn"
                           id="bouton-secondaire" >Supprimer le contrat</a>
                    </div>
                    <div sec:authorize = "hasRole('ROLE_ADMIN')">
                        <a th:href = "@{/contrat/modifier-contrat/{id} (id=${Agreement.id})}"
                           class="btn"
                           id="bouton-secondaire" >Modifier le bail</a>
                        <a th:href = "@{/contrat/etat-des-lieux-entree/{id} (id=${Inventory.id})}"
                           class="btn"
                           id="bouton-secondaire" >Effectuer/modifier l'état des lieux</a>
                        <a th:href = "@{/contrat/supprimer-contrat/{id} (id=${Agreement.id})}"
                           class="btn"
                           id="bouton-secondaire" >Supprimer le contrat</a>
                    </div>

                    <a class="btn" id="bouton-secondaire" th:href = "@{/contrat/voir-contrat/{id} (id=${Agreement.id})}">Voir les détails du contrat</a>

                    <div>
                        <a th:if= "${IsValidated and !IsOwner}" class="btn" id="bouton-secondaire" >Payer le Loyer</a>
                        <div th:if= "${!IsValidated}">
                            <form
                                  th:action = "@{/contrat/valider-contrat/{id} (id=${Agreement.id})}"
                                  th:object = "${AgreementValidation}" method = "POST">

                                <button
                                        class="btn"
                                        type = "submit"
                                        id="bouton-secondaire" >Valider le contrat</button>
                            </form>
                            <form
                                    th:action = "@{/contrat/invalider-contrat/{id} (id=${Agreement.id})}"
                                    th:object = "${AgreementValidation}" method = "POST">

                                <button
                                        class="btn"
                                        type = "submit"
                                        id="bouton-secondaire" >Invalider contrat</button>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</main>




</body>

</html>